<h1>Editing readers card</h1>

<%= render "form", readers_card: @readers_card %>

<br>

<div>
  <%= link_to "Show this readers card", @readers_card %> |
  <%= link_to "Back to readers cards", readers_cards_path %>
</div>
